[submodule "configs/vim/bundle/vim-fugitive"]
	path = configs/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "configs/vim/bundle/nerdtree"]
	path = configs/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
